/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* CSS */
body {
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
  font-family: 'Inter';
  font-size: 15px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Card */
.card {
  width: 1050px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color:hsl(244, 38%, 16%);
  border-radius: 10px;
}

.card-details {
  padding: 60px 96px 60px 60px;
}

.card-title {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 35px;
}

.card-title span {
  color: hsl(277, 64%, 61%);
}


.card-paragraph {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 25px;
}

/* Card stats */

.card-stats {
  display: flex;
  align-items: flex-start;
  gap: 3em;
  padding-top: 60px;
}

.card-stats-items {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card-stats-num {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 8px;
}

.card-stats-heading {
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.1em;
}

/* Card Image */

.card-img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(74 0 128 / 60%), rgb(74 0 128 / 60%)), url("/images/image-header-desktop.jpg");
  border-radius: 0px 10px 10px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Attributions */
.attribution {
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.attribution a {
  color: hsl(277, 64%, 61%);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

/* Media Queries for different devises */

/****** Tablet ******/
@media screen and (max-width: 1100px) {
  .card {
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:hsl(244, 38%, 16%);
    border-radius: 10px;
  }

  .card-details {
    padding: 40px 76px 40px 40px;
  }
}

/****** Small Tablet ******/
@media screen and (max-width: 920px) {
  .card {
    width: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:hsl(244, 38%, 16%);
    border-radius: 10px;
  }

  .card-details {
    padding: 35px 70px 35px 35px;
  }

  .card-title {
    font-size: 22px;
    padding-bottom: 20px;
  }

  .card-paragraph {
    font-size: 12px;
    line-height: 20px;
  }

  .card-stats {
    gap: 2em;
    padding-top: 30px;
  }

  .card-stats-num {
    font-size: 20px;
  }

  .card-stats-heading {
    font-size: 10px;
  }
}

/****** Mini Tablet ******/
@media screen and (max-width: 680px) {
  .container {
    height: 98vh;
  }

  .card {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    background-color:hsl(244, 38%, 16%);
    border-radius: 10px;
  }

  .card-details {
    padding: 35px;
  }

  .card-title {
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
  }

  .card-paragraph {
    text-align: center;
    font-size: 13px;
  }

  .card-img {
    width: 100%;
    height: 245px;
    background-image: linear-gradient(rgb(74 0 128 / 60%), rgb(74 0 128 / 60%)), url("/images/image-header-mobile.jpg");
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-stats {
    justify-content: center;
    align-items: center;
  }

  .card-stats-items {
    align-items: center;
  }
}

/****** Mobile ******/
@media screen and (max-width: 500px) {
  .container {
    height: 98vh;
  }

  .card {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    background-color:hsl(244, 38%, 16%);
    border-radius: 10px;
  }

  .card-details {
    padding: 35px;
  }

  .card-title {
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
  }

  .card-paragraph {
    text-align: center;
    font-size: 13px;
  }

  .card-img {
    width: 100%;
    height: 245px;
    background-image: linear-gradient(rgb(74 0 128 / 60%), rgb(74 0 128 / 60%)), url("/images/image-header-mobile.jpg");
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-stats {
    align-items: center;
    flex-direction: column;
    gap: 2em;
    padding-top: 40px;
  }

  .card-stats-items {
    align-items: center;
    flex-direction: column;
  }
}
